:root {
  /* color pallete */
  --color-primary:     #fd377e;
  --color-primary-2:   #e34981;
  --color-secondary:   #03b898;
  --color-white:       #ffffff;
  --color-grey-1:      #f8f9fa;
  --color-grey-2:      #e9ecef;
  --color-grey-3:      #868e96;
  --color-grey-4:      #212529;
  --color-grey-extra-1:#343a40;
  --color-grey-extra-2:#d9dcdf;

  /* shadow */
  --shadow-1: 0px 4px 32px -12px #00000040;

  /* gradient */
  --gradient-landing: linear-gradient(
    150deg,
    #03b89823 0%,
    #ff000000 30%,
    #ff003300 70%,
    #fd377e23 100%
  );

  /* svg PATH */
  --svg-landing-bg:        url("../assets/svg/landing-bg.svg");
}
